# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Conda
.env
conda-meta/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Models
*.pt
*.pth
*.ckpt

# Logs
*.log

# Environment variables
.env

testing/
model/
data/
chroma_db/